
.mag-l-10{
    margin-left: 10px;
}

.custom-register h2{
    font-weight: normal;
}
#uploadFile ul {
    padding: 6px 0;
}

#uploadFile ul li {
    display: inline-block;
    zoom: 1;
    text-align: center;
    width: 250px;
    height: 175px;
    background: #fafafa;
    position: relative;
	vertical-align: top;
}

#uploadFile ul li .img-title {
    display: block;
    line-height: 32px;
    font-size: 16px;
    color: #888;
}

#uploadFile ul li img {
    max-width: 170px;
    max-height: 107px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    min-width: 50px;
    min-height: 50px;
}

#uploadFile ul li .img-box {
    padding: 10px;
    border: 1px dashed #ddd;
    display: inline-block;
    background: #fff;
    display: inline-block;
    width: 170px;
    height: 107px;
}

#uploadFile .layui-form-label {
    padding: 9px 8px;
}

.part-title {
    font-size: 18px;
    position: relative;
    padding: 30px 0px;
}

.part-title:after {
    content: '';
    position: absolute;
    left: 115px;
    border-bottom: 1px solid #ddd;
    right: 0px;
    top: 42px;
}

.part-title .num {
    display: inline-block;
    background: #1E9FFF;
    width: 22px;
    text-align: center;
    line-height: 22px;
    color: #fff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 8px;
}

.custom-register .content {
    padding-top: 10px;
}

.custom-register .big-title {
    width: 100%;
    float: none;
    text-align: left;
}

#uploadFile .img-title {
    display: block;
}

.upload-box {
    position: absolute;
    left: 50%;
    margin-left: -23px;
    top: 94px;

}

.upload-box .layui-upload-icon .layui-icon {
    display: none;
}

.upload-box .layui-upload-icon {
    margin: 0;
    line-height: 40px;
    color: #fff;
}

.upload-box .layui-upload-button {
    background: #0994dc;
    min-width: inherit;
    width: 40px;
    height: 40px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid transparent !important;
}

.layui-upload-button:hover {
    background: #7DBDFF;
    border: none;
}

.font-redColor {
    margin-right: 3px;
}

.right-tip, .error-tip {
    display: none;
    text-indent: 1.5em;
    height: 16px;
    line-height: 16px;
    margin-left: 5px;
}

.error-tip {
    background: url("../images/ico-error.png") top left no-repeat;
    color: #ff623e;
}

.right-tip {
    background: url("../images/ico-right.png") top left no-repeat;
    color: #25c95e;
    width: 16px;
}
.part-box .layui-input {
    display: inline-block;
}

.custom-register .content .small-warn-box .tool-tip .warn {
    top: 0;
}

.xxrzShow {
    display: none;
}

.uploaded .upload-box {
    right: 30px;
    left: initial;
    top: 132px;
}

span.preview-pic {
    display: none;
}

img.preview-pic {
    cursor: pointer;
}
.layui-input-block {
    max-height: 38px;
}

.custom-register .content .position-rel .qrcode {
    top: 1px;
    height: 37px;
    border-radius: 4px;
    left: 30.4%;
}
.custom-register .content .position-rel .message-code{
    width: 98.5px;
    left: 30.4%;
}
.layui-input:focus, .layui-textarea:focus{
    border-color: #0994dc !important;
}
.register-help{
    font-size: 16px;
    float: right;
    cursor: pointer;
    background: url("../images/ico-help.png") center left no-repeat;
    text-indent: 2em;
}
.phone-number{
    display: none;
}
.iPhone7{
    display: inline-block;
    width: 120px;
}

/*河北 侧边栏*/
.sidebar-hb {
    position: fixed;
    bottom: 30%;
    right: 0;
    width: 45px;
    font-size: 12px;
    font-family: "MicroSoft YaHei";
    z-index: 100;
}
.txt-c{
    text-align: center;
}
.sidebar-hb .item{
    display: flex;
    width: 45px;
    height: 45px;
    background-color: #099adc;
    border-bottom: 1px #f2f4f8 solid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sidebar-hb .item:hover{
    background-color: #099adc;
}
.sidebar-hb .item:hover .qrCode-tips{
    display: block;
}
.sidebar-hb .item-top {
    border-radius: 0 0 0 5px;
    background: #999 url('../images/sidebar-top.png') center center no-repeat;
    background-size: 26px 26px;
}

.sidebar-hb .item-qrCode {
    border-radius: 5px 0 0 0;
    background: #999 url('../images/sidebar-ewm.png') center center no-repeat;
    background-size: 26px 26px;
}

.sidebar-hb .item-qrCode .qrCode-tips {
    position: absolute;
    left: -150px;
    top: -20px;
    display: none;
}

.sidebar-hb .item-qrCode .qrCode-tips img {
    width: 140px;
    height: 140px;
}


.sidebar-hb .item-video {
    background: #999 url('../images/sidebar-video.png') center center no-repeat;
    background-size: 26px 26px;
}

.sidebar-hb .item-help {
    background: #999 url('../images/sidebar-help.png') center center no-repeat;
    background-size: 26px 26px;
}

.sidebar-hb .item-feedback {
    background: #999 url("../images/sidebar-feedback.png") center center no-repeat;
    background-size: 26px 26px;
}