@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0}
body{font:14px "宋体";text-align:center;color:#000;margin:0;padding:0}
ul,ol,li,input{list-style:none;}
a img{ border:none;border:0;}
.fl{float:left;}.fr{float:right;}
.pr{ position:relative}
/* ---重置常用标签的边界与填充-end---*/

.header{ width:800px; height:78px; background:url(../images/header.jpg) no-repeat; margin:0px auto 0px}

.index{ width:800px; height:245px; background:url(../images/index.jpg) no-repeat; margin:0 auto; padding-top:277px}
.index .but{ width:182px; height:47px; margin:0 auto;}
.index .but a{ width:182px; height:47px; display:block;  float:left;background:url(../images/djjr.jpg) no-repeat}
.index .but a:hover{ background:url(../images/djjr2.jpg) no-repeat}

.xzyw{width:648px; height:47px; margin:60px auto;}
.xzyw a{ width:100px; height:45px; display:block;float:left; margin:14px 4px;  _margin:14px 2px;}

.content{ width:100%; height:492px; background:#c4e4fc; margin:0 auto; padding-top:20px; overflow:hidden}
   .menu{ width:745px; height:50px; margin:0 auto 20px; background:url(../images/new/menu.jpg) no-repeat}
   .menu2{ background-position:0 -50px}
   .menu3{ background-position:0 -100px}
   .menu4{ background-position:0 -150px}
   .menu5{ background-position:0 -200px}
   .menu6{ background-position:0 -250px}
   .menu7{ background-position:0 -300px}
   
.bg_con{ width:728px; height:275px; background:#7bdefe url(../images/bj.jpg) repeat-x; margin:0 auto 32px; padding: 0 6px 6px 6px; position:relative}
.bg_con2{ width:728px; height:275px;  margin:0 auto 32px; padding: 0 6px 6px 6px; position:relative}
.content .title{ width:725px; height:40px; text-align:left; padding-left:3px}
.content span{ color:#f00}

.l_dq{ text-align:left; text-indent:15px} 

.box{ width:728px; height:190px; background:url(../images/yh.jpg) no-repeat; padding-top:45px}
.box .qrje{ width:200px; height:100px; background:url(../images/qrje.png) no-repeat; margin:0 auto; padding:57px 0 0 81px; line-height:26px; text-align:left; font-weight:bold; color:#2f624b;_background:url(../images/qrje.gif) no-repeat; }
.box .qrje p.s{ color:#197bc2; font-weight:normal; font-size:12px}

.h311{ height:300px; margin-bottom:2px}


.h312{ height:310px; margin-bottom:15px}
.h310{ height:300px; margin-bottom:15px}
.h310 .box2{ width:680px; height:265px; background:#fff; font-size:12px; padding: 5px 24px 0}

.bj{ border-left:1px solid #000; border-right:1px solid #000;}
.bj .b_r{ border-right:1px solid #000}
.bj .b_b{ border-bottom:1px solid #000}

.h310 .box3{width:640px; height:250px; background:#fff url(../images/wszm.jpg) no-repeat 40px 12px; font-size:12px; padding: 20px 44px 0;font-family: "微软雅黑";font-size: 12px;color: #000;}
.h310 .box3 ul{ width:271px; height:196px; float:right; text-align:left; margin-top:22px; line-height:21px}

.h360{ height:360px; margin-bottom:15px}
.box4{width:728px; height:320px; background:#fff url(../images/sm_bj.jpg) no-repeat 120px 20px; font-size:12px;}
.box5{width:728px; height:320px; background:#fff url(../images/sm_bj2.jpg) no-repeat 120px 20px; font-size:12px;}

.box6{width:728px; height:270px; background:#fff; font-size: 14px;color: #000;}
.box6 .p_lr{ padding:0 20px;}

.tsy{width:350px; height:50px; margin:0 auto; padding-top:15px; color:#197bc2; font-weight:bold}
a.jkc{ width:123px; height:35px; background:url(../images/sm_but2.jpg) no-repeat; display:block; float:left}
a.gcc{ width:123px; height:35px; background:url(../images/sm_but1.jpg) no-repeat; display:block; float:right}

.but{ width:340px; height:50px; margin:0 auto} 
.but2{width:140px; height:50px; margin:0 auto}
.but3{ width:500px; height:50px; margin: 0 auto}

a.but{width:138px; height:46px;display:block; }
a.qx{background:url(../images/but.gif) no-repeat -2px -101px;float:left;_background:url(../images/but.gif) no-repeat -2px -101px;}
a.qr{background:url(../images/but.gif) no-repeat -182px -101px;float:right;_background:url(../images/but.gif) no-repeat -182px -101px}
a.qxsb{background:url(../images/but.gif) no-repeat -2px -51px;float:left;_background:url(../images/but.gif) no-repeat -2px -51px;}
a.qrsb{ background:url(../images/but.gif) no-repeat -182px -51px;float:right;_background:url(../images/but.gif) no-repeat -182px -51px}
a.dysp{background:url(../images/but.gif) no-repeat -182px -150px;float:right;_background:url(../images/but.gif) no-repeat -182px -150px}
a.dycg{background:url(../images/but.gif) no-repeat -182px 0;float:right;_background:url(../images/but.gif) no-repeat -182px 0}
a.dysb{background:url(../images/but.gif) no-repeat -2px 0;float:left;_background:url(../images/but.gif) no-repeat -2px 0}
a.dywsz{background:url(../images/but.gif) no-repeat -182px -203px;float:right;_background:url(../images/but.gif) no-repeat -182px -203px}
a.djhf{background:url(../images/but.gif) no-repeat -2px -153px;float:left;_background:url(../images/but.gif) no-repeat -2px -153px}
a.zfsp{background:url(../images/but.gif) no-repeat -2px -202px;float:left;_background:url(../images/but.gif) no-repeat -2px -202px}
a.zfwsz{background:url(../images/but.gif) no-repeat -2px -252px;float:left;_background:url(../images/but.gif) no-repeat -2px -252px}
a.dydad{background:url(../images/but.gif) no-repeat -182px -255px;float:left;_background:url(../images/but.gif) no-repeat -182px -255px}
a.tc{background:url(../images/but.gif) no-repeat -2px -304px;float:right;_background:url(../images/but.gif) no-repeat -2px -304px}
a.dasm{background:url(../images/but.gif) no-repeat -182px -355px;float:right;_background:url(../images/but.gif) no-repeat -182px -355px}
a.bcdm{background:url(../images/but.gif) no-repeat -182px -405px;float:right;_background:url(../images/but.gif) no-repeat  -182px -405px}
	
	
	
/* ---弹出层---*/
.black_overlay{display:none;position:absolute;top:0;left:0; width:728px;height:235px;background-color:black;z-index:1001;-moz-opacity:0.3;opacity:.30;filter:alpha(opacity=30);} 
.white_content{ display:none;position:absolute; left:140px; top:30%;width:445px;height:91px;z-index:1002; overflow:hidden;} 
.white_content dl{ width:411px; height:92px; background:url(../images/jdt_bj.png) no-repeat; padding:0 26px 0 18px;_background:url(../images/jdt_bj.gif) no-repeat;}
.white_content dl dt{width:411px; height:30px; float:left; margin-top:30px}
.white_content dl dd{ width:411px; height:21px; line-height:21px; color:#fff; font-weight:bold}

.white_content2{ display:none;position:absolute; left:170px; top:5%;width:349px;height:190px;z-index:1003; overflow:hidden; background:url(../images/tck.png) no-repeat; padding:21px 20px 0 ;_background:url(../images/tck.gif) no-repeat;}
.white_content2 dt{ width:349px; height:125px;margin-bottom:12px; font-size:14px; text-align:left; line-height:30px;}


.white_content3{ display:none;position:absolute; left:250px; top:30%;width:445px;height:91px;z-index:1002; overflow:hidden;} 
.white_content3 dl{ width:411px; height:92px; background:url(../images/jdt_bj.png) no-repeat; padding:0 26px 0 18px;_background:url(../images/jdt_bj.gif) no-repeat;}
.white_content3 dl dt{width:411px; height:30px; float:left; margin-top:30px}
.white_content3 dl dd{ width:411px; height:21px; line-height:21px; color:#fff; font-weight:bold}


.white_content4{display:none;position:absolute; left:170px; top:5%;width:355px;height:153px;z-index:1003; overflow:hidden; background:url(../images/tck2.png) no-repeat; _background:url(../images/tck2.gif) no-repeat; padding:53px 17px 0}
.white_content4 .input_text{ width:355px; height:38px; line-height:38px; padding:0; margin:0; background:none; border:none; font-size:16px; font-family:"微软雅黑";}
.white_content4 .but{ float:left; margin: 10px 0 0 110px}



/* ---管理页面---*/
.menu_a{ width:745px; height:50px; margin:0 auto 10px; background:url(../images/menu_a.jpg) no-repeat; font-family:"微软雅黑"; line-height:44px; font-size:18px; font-weight:bold; color:#fff}
.cwsj{ width:720px; height:30px; text-align:left; padding:0 8px 0 0; color:#fff; text-align:right} 
.cwsj .wz{ width:92px; height:40px; float:left; text-align:left}
    #demo,#demo2{ height:28px; margin-top:5px; line-height:28px; padding-left:5px; width:120px; float:left}
	.xzyf{ width:120px; height:28px; margin-top:5px;}
.cwsj .fr{line-height:35px; margin-top:5px;}.cw a{ color:#014f87}

.page{ padding:5px 50px 0;}
.page2{ width:320px; margin:0 auto}
.page .fr a{ width:66px; height:35px; display:block; float:left; line-height:35px; margin:0 5px; background:#a7e9fe; text-decoration:none; font-weight:bold; color:#014f87; margin-top:5px}
.page .fr a:hover,.page a.cur{ background:#7bdefe}

/* ---月份---*/
.select{ width:130px; height:28px; background:#fff url(../laydate/skins/danlan/icon.png) no-repeat 110px 6px; display:block; float:left; color:#333; text-align:left; line-height:28px; margin-top:5px; border:1px solid #b1d2ec; padding-left:5px;}
.sub{position:absolute;top:35px;left:0px;color:#666;width:135px;background:#fff;border:1px solid #b1d2ec;display:none;color:#333;}
.sub li{height:25px;line-height:24px;cursor:pointer;border-bottom:1px dotted #fff;text-indent:5px; text-align:left}
.sub li.hover{background:#e4f1f7; font-weight:bold; color:#333;}

.zhbb{ width:690px; height:220px; background:#b6e9ff ;padding:37px 0 0 38px}	
.fwxs{ font-family:"微软雅黑"; width:610px; float:left; height:40px; line-height:40px; text-align:left; color:#006cab; font-weight:bold; margin-bottom:10px}
.zhbb .zhbb_con{ width:660px; height:130px; float:left; background:#83d8ff;  color:#006cab; font-family:"微软雅黑"; font-weight:bold;} 
