/*---------------列表个性样式---------------*/
/*表格下总和*/
.total { margin-top:10px; padding:15px; width:100%; background:#fafafa; border:1px solid #e7e7e7; }
.total-info { float:right;}
.total-info span { margin-right:8px;}
.total-info .org { color:#f60; font-size:20px;}


.foot-btn { margin:20px; }
#wjscx .mini-grid-headerInner .mini-grid-table tr:nth-child(2) td{
	background: #fafafa;
}