body{
    font-family: "Microsoft YaHei";
}
.sb_table thead{
    background-color: #fff8ff;
    border:0px;
}
.sb_table thead tr{
    line-height: 20px;
}
.sb_table tbody tr.title{
    line-height: 30px;
}
table.sb_table thead tr td{
    border:0px;
    text-align: left;
}
.sb_table thead h2{
    margin: 1px;
    font-size: 18px;
    text-align: center;
}
.sb_header ul{
    width: 100%;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 12px;
}
.sb_header ul li{
    width: 33%;
    line-height: 20px;
}
.sb_header ul li.first{
    width: 57%;
}
.sb_header ul li.third{
    float: right;
    width: auto;
}
.sb_header ul li.bzdw{
    width: 57%;
}
.sb_header ul li.nsrmc{
    width: 54%;
}
.sb_header .sb_je_li{
    float: right;
    width: auto;
}
table.sb_table tr.title td{
    background-color: #ddedfe;
    border: 1px solid #bbd8eb;
    text-align: center;
}
table.sb_table th.rowIndex{
    white-space: nowrap;
}
table.sb_table th.title span:first-child{
    margin-right: 40%;
}
table.sb_table tr td{
    border: 1px solid #bbd8eb;
    padding: 3px;
}
table.sb_table tbody td{
    white-space: nowrap;
    overflow: hidden;
}
table.sb_table tr td input{
    font-size: 12px;
    color: #0f0fee;
    height: 23px;
    width: 100%;
}
table.sb_table tr td input[type=radio]{
    height: 13px;
    width:15px;
}
table.sb_table tr td input[disabled="disabled"]{
    background-color: #fff8ff;
    color: #cd0a0a;
}
table.sb_table tr td input[value="-"],
table.sb_table tr td input[value="--"]{
    text-align: center;
    color: #000;
}
/*资产负债表 层级样式*/
table.sb_table tr td.property-level-1{
    text-align: left;
}
table.sb_table tr td.property-level-1 .first-letter{
    margin-right: 11px;
}
table.sb_table tr td.property-level-2{
    text-align: left;
    padding-left: 25px;
}
table.sb_table tr td.property-level-3{
    text-align: left;
    padding-left: 49px;
}
table.sb_table tr td.property-level-4{
    text-align: left;
    padding-left: 62px;
}
table.sb_table tr td.property-level-5{
    text-align: left;
    padding-left: 74px;
}
/*利润表 层级样式*/
table.sb_table tr td.profit-level-1{
    text-align: left;
}
table.sb_table tr td.profit-level-2{
    text-align: left;
    padding-left: 25px;
}
table.sb_table tr td.profit-level-3{
    text-align: left;
    padding-left: 37px;
}
table.sb_table tr td.profit-level-4{
    text-align: left;
    padding-left: 73px;
}
/*现金流量表 层级样式*/
table.sb_table tr td.cash-level-1{
    text-align: left;
}
table.sb_table tr td.cash-level-2{
    text-align: left;
    padding-left: 25px;
}
table.sb_table tr td.cash-level-3{
    text-align: left;
    padding-left: 49px;
}
table.sb_table tr td.cash-level-4{
    text-align: left;
    padding-left: 61px;
}
/*复写miniui样式*/
.mini-tabs-bodys{
    padding: 0;
}
.sb_alert{
    position: absolute;
    top: 30%;
    left: 40%;
    width: 400px;
    height: 200px;
    background-color: white;
    box-shadow: 0 0 8px;
    -webkit-box-shadow:0 0 8px;
    -moz-box-shadow:0 0 8px;
}
.sb_alert_title{
    background-color: #E3E6E8;
    padding: 4px 0 4px 10px;
    color: rgb(116, 113, 113);
    font-weight: bolder;
    letter-spacing: 18px;
    border-bottom: 1px solid #999999;
}
.sb_alert .sb_alert_content{
    height: 66%;
    padding: 5px 12px;
}
.sb_alert .sb_alert_footer{
    text-align: center;
}
.sb_alert .sb_alert_footer span{
    padding: 4px 15px;
    border: 1px solid #C2BFBF;
    background-color: #EDEBEB;
    font-size: 13px;
}
.sb_alert .sb_alert_footer span:hover{
    cursor:pointer;
}
.sb_alert .sb_alert_title:hover{
    cursor:move;
}
.sb_alert_title b{
    letter-spacing: 0px;
}
.hidden {
    display: none;
}
.readonly, .readonly input, .readonly select {
    background-color: rgb(245, 243, 243)!important;
    line-height: 30px;
}

.sb_header h2,.sb_header p{  text-align: center;}
.sb_header ul{
    display: inline-block;
    width: 80%;
    list-style-type: none;
    padding:0px;
}
.sb_header ul li{
    display:inline-block;
    width:29%;
}
.sb_header ul li.first{
    width:70%;
}
table.sb_table{
    width:99%;
    border-spacing: 0px;
    border-collapse: collapse;
    font-family: "Microsoft YaHei", verdana;
    font-size: 9pt;
    font-family: "Microsoft YaHei", verdana;
    font-size: 9pt;
    margin-left: 1px;
}
table.sb_table td{
    border: solid 1px #999999;
}
table.sb_table select,table.sb_table input{
    border:none;
    width:99%;
    outline:medium
}
table.sb_table input{
    text-align:right;
}
table.sb_table td{
    text-align:center;
}
.report_error{outline: 1px solid red;}
.report_errbox{position:absolute;background-color: rgb(198, 253, 205);  border: 1px solid rgb(123, 255, 0);}
.report_errbox span.report_close{float: right; margin-right: 4px;}
.report_errbox span.report_close:hover{cursor:pointer;}
.report_errbox span.textcon{
    display: inline-block;
    width: 90%;
    overflow: hidden;
    height: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}
 .step-footer{
        	text-align:center;
}

