
/*  pz_wdy.html缴款凭证打印  */
.pa_wdy .pztop,wsztop{}
.pa_wdy .pztop .item{ height:28px;}
.pa_wdy .dj{ text-align:right; white-space:nowrap;}
.pa_wdy .dj .num{ font-size:14px; font-weight:bold;}
.pa_wdy .dj .num span{ font-size:16px;}
.pa_wdy .pztop .item{ height:28px;}
.pa_wdy .pzcontent{ background:#000;}
.pa_wdy .pzcontent td{ background:#FFF;}
.pa_wdy .pzcontent .swjg{ width:50px; text-align:center;}
.pa_wdy .pzcontent .yz{ background: url(/BsfwtWeb/images/jk/tz.gif) no-repeat center center #FFF; width:180px; height:130px;}
.pa_wdy .pzcontent .info{ line-height:26px; padding:10px;}
.pa_wdy .pzcontent .info span{ font-weight:bold;}
.pa_wdy .pzcontab01{ margin:5px 0; height:45px;}
.pa_wdy .pzcontab01 th{ font-weight:normal; text-align:left; white-space:nowrap; line-height:15px; height:20px;}
.pa_wdy .pzcontab02 th{ text-align:left; white-space:nowrap; line-height:28px; height:28px;}
.pa_wdy .pzcontab02 td{line-height:18px; height:24px;}
.pa_wdy .pzcontent .info{ line-height:26px; padding:10px;}
.pa_wdy .pzcontent .info span{ font-weight:bold;}
.pa_wdy .pz_head{ background:url(/BsfwtWeb/images/jk/guo.jpg) no-repeat  center right; height:60px; text-align:center; font-size:24px; font-weight:bold;}
.pa_wdy .bt_s{ background:url(/BsfwtWeb/images/jk/bt_s.jpg) no-repeat left top; color:#FFF; width:63px; height:21px; border:none; cursor:pointer;}




