
<div class=container>
    <ul class=menuUl>
        <li class=active id=wdbsdt><a href=/bszm-web/apps/views/simpleCompany/simpleCompany.html>我的办税大厅</a></li>
        <li id=wdzhzx><a onclick="javascript: window.parent.goPage('../../../domain/{yhzx-web}/YhglPlat/index.html', '', '', 'null');"  target=in>我的账户中心</a></li>
        <li id=hlwbsxy><a  onclick="javascript: window.parent.goPage('../creditGrade/creditCenter.html', '', '', 'null');" target=in>互联网办税信用</a></li>
        <li id=wdfxzx>
            <a  onclick="javascript: window.parent.goPage('../creditGrade/riskCenter.html', '', '', 'null');" target=in>我的风险中心</a>
            <span id=wfkfx-num class=red-circle-bubble></span>
        </li>
        <li id=wddazx><a onclick="javascript: window.parent.goPage('../../../../yhs-web/yhscx/index.html', '', '', 'null');" target=in>我的档案中心</a></li>
        <li id=wyfkwt><a onclick ="javascript: window.parent.goPage('/wszx-web/apps/views/question/question.html', '', '', 'null');" target=_blank>我要反馈问题</a></li>
    </ul>
</div>