@charset "UTF-8";
@import "../views/header/header.css";

body, ul, ol, dl, dt, dd, p, h1, h2, h3, h4, td, th, figure, fieldset, input {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none; cursor:pointer;
}

a.disabled {
    color: #cccccc!important;
    cursor: not-allowed;
}


fieldset, img {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:focus {
    outline: 0;
}

button, input, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
h1 {
    font-size: 20px;
    text-align: center;
}

/* color */
.red   { color:#f00;}
.org   { color:#f60;}
.gray3 { color:#333;}
.gray9 { color:#999;}

/*文字大小*/
.text-16 { font-size:16px;}
.text-12 { font-size:12px;}
/*圆角*/
.border-radius4{
    border-radius: 4px;
}
/*白色背景*/
.background-white{
    background-color: #fff;
}
/*虚线*/
.dashed{
    border-bottom: 1px dashed #ccc;
}
/** 重置盒模型 & 文本 '四要素' 的设定 & 视图背景色 的设定
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _**/
* {
    -ms-box-sizing: border-box;
     box-sizing: border-box;
}

body {
    position: relative;
    font-size: 14px;
    line-height: 1.5;
    font-family: "微软雅黑",Arial;
    color: #333;
    background-color: #edf0f0;
}

/* 整体布局宽度
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
.fit{
    width:100%;
    height: 100%;
    overflow:hidden;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* 公用类
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
.fl { float: left;}
.fr {  float: right;}

/* 清除浮动 */
.clearfix { *zoom: 1;}

.clearfix:before,.clearfix:after {  display: table; line-height: 0;  content: "";}

.clearfix:after { clear: both;}

/* 单行文字截断 */
.ellipsis {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 多行文字截断 */
.ellipsis-multi {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt16 {
    margin-top: 16px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mr10 {
    margin-right: 10px;
}

.ml25 {
    margin-left: 25px;
}

.m20 {
    margin: 20px;
}

.ml10 {
    margin-left: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb20 {
    margin-bottom: 20px;
}

.p40 {
    padding: 40px;
}

.p20 {
    padding: 20px;
}
.p10 {
    padding: 10px;
}

.pb40 {
    padding-bottom: 40px;
}
.pl470{
    padding-left: 470px;
}
.font-orange {
    color: #f9a10e !important;
}

.font-red {
    color: #f00 !important;
}
.font-bold {
    font-weight: bold!important;
}
.text-right{
    text-align: right!important;
}
.text-right input{
    text-align: right!important;
}
.text-left{
    text-align: left!important;
}
.text-left input{
    text-align: left!important;
}
.text-center{
    text-align: center!important;
}
.text-center input{
    text-align: center!important;
}
.text-right{
    text-align: right!important;
}
.text-red{
    color: red;
}
.wrap{
    white-space: normal!important;
    word-break: break-all;
    word-wrap: break-word;
}
.text-indent{
    text-indent: 2em;
}
.text-indent-4{
    text-indent: 4em;
}
.text-indent-6{
    text-indent: 6em;
}
.text-indent-8{
    text-indent: 8em;
}
.edit-indent input{
    text-indent: 2em;
}
.text-indent1{
    text-indent: 1em;
}
.text-indent3{
    text-indent: 3em;
}
.text-indent4{
    text-indent: 4em;
}
.text-indent5{
    text-indent: 5em;
}
.text-indent6{
    text-indent: 6em;
}
.text-indent7{
    text-indent: 7em;
}
.text-indent9{
    text-indent: 9em;
}
.text-indent10{
    text-indent: 10em;
}
.text-indent11{
    text-indent: 11em;
}
.text-indent12{
    text-indent: 12em;
}
.text-indent13{
    text-indent: 13em;
}
.text-indent14{
    text-indent: 14em;
}
.bg-edit{
    background: #f2f8ff!important;
    color:#006cda!important;
}
.no-border-left{
    border-left: 0!important;
}
.no-border-right{
    border-right: 0!important;
}
.no-border-bottom{
    border-bottom: 0!important;
}
.white-border-bottom{
    border-bottom-color: #fff!important;
}

/*列表操作样式*/
.list-operatelink:link { color:#006cda; margin-right:10px;}
.list-operatelink:visited { color:#006cda; text-decoration:none; margin-right:10px;}
.list-operatelink:hover { color:#006cda; text-decoration:underline; margin-right:10px;}

/*表外信息*/
.list-info { padding:10px 0; }

/*查询区底部线条*/
.cx-line { margin:5px 0 10px 0; width:100%; height:1px; font-size:1px; background:#e3e3e3;}
/**pdt50*/
.pdt50{
	padding-top:50px;
}

/*页面底部按钮*/
.footer-btn { width:100%; padding:30px; text-align:center; }
.errorText{color:#ff6b6b}

.pay { display:block; width:141px; height:45px; border:1px solid #d5d5d5;}
.pay01 { background:url(../images/pay01.png) no-repeat;}
.pay02 { background:url(../images/pay02.png) no-repeat;}
.pay03 { background:url(../images/jiansheBank.png) no-repeat;}
.pay04 { background:url(../images/xingyeBank.png) no-repeat center center;}
.pay05 { background:url(../images/pay05.png) no-repeat;}
body .mini-button-pressed, body a:hover.mini-button-pressed{
    color: #fff;
}

/*报错提示中   换行*/
.mini-messagebox-content td{
    word-break: break-all;
}
/*dategrid 合计栏样式*/
.mini-grid-summaryRow .mini-grid-summaryCell{
    text-align: right;
    background: #f2f8ff;
    border-right: 1px solid #999;
    line-height: 28px;
}
/*合计单元格*/
.mini-grid-summaryRow .mini-grid-summaryCell:first-child{
    text-align: center;
}
.online-help{
    position: fixed;
    right: 0;
    top: 40%;
    z-index: 1;
}
.online-help .online-menu{
    vertical-align: middle;
}
.online-help .online-menu .menu-blue{
    color: #0770DB;
    cursor: pointer;
}
/*mini-window样式*/
.mini-panel.mini-window.fixedWindow{
    position: fixed!important;
}
.mini-panel.mini-window.fixedWindowTop0{
    position: fixed!important;
    top:0!important;
}
.checkbox{
    vertical-align: text-bottom;
    width: 13px!important;
    height: 13px!important;
    background: transparent!important;
    padding: 0!important;
}