/**
 * Created by lizm on 2016/9/28.
 */

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border: 0;
    overflow: visible;
    background: #fbfcfc;
}
.sb_alert_mask{
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(95, 95, 95, 0.3);
}
.sb_alert{
    z-index: 2;
}
.wait-ico{
    background: url("img/loading.gif");
    display: block;
    width: 15px;
    height: 15px;
    margin: 0 10px;
}
.hidden {
    display: none;
}

.mini-tab {
    padding: 5px 25px;
}
.page-modal{
    z-index: 999;
    display: block;
}
.modal-content{
    display: block;
    position: absolute;
    top: 45%;
    left: 48%;
    overflow: hidden;
    z-index: 1000;
    background: #fff;
    border: 2px solid #95b6cc;
    padding: 10px 20px 10px 10px;
    color: #000;
}
table.sb_ysfwkc {
    border-left: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

table.sb_ysfwkc select, table.zzsjmmxb select {
    outline: none;
    width: 100%;
    border: 0px;
}

.w_50 {
    width: 95px;
}

.colline {
    border-left: 1px #999999 solid;
    float: right;
    width: 30px;
    text-align: center;
}
.btn06{
    background-color: #fff;
    color: #1a56a9;
    opacity: 1;
    text-decoration: none;
}

.mini-buttonedit-border {
    border: none;
}
.huabiao-box table{
    border-collapse: collapse;
}
.huabiao-box table tr td{
    height: 30px;
    line-height: 31px;
}

.text-align-left {
    text-align: left;
    padding-left: 8px;
}
table.sb_table tr td input {
    height: 18px;
}
table.tstable tr td{
    padding: 0;
    height: 25px;
    line-height: 25px;
}
table.tstable tr td input{
    padding: 3px;
    text-align: center;
    width: 95%;
}
table.tstable h1{
    font-size: 16px;
    font-family: "宋体", Verdana, Geneva, sans-serif;
}
.table-width{
    width: 99%;
}
.start{
    width: 40px;
}

.inputbox {
    width: 96%;
    height: 27px;
    line-height: 26px;
}
.inputbox:focus{
    outline: none;
}
.mini-tabs-header{
    vertical-align: top;
}
.sb_alert{
    height: auto;
}
.sb_alert .sb_alert_content{
    height: auto;
}
.sb_alert .sb_alert_footer{
    padding: 10px;
}
input.text-left{
    text-align: left;
}

select[disabled="disabled"],
td input[disabled="disabled"],
td[disabled="disabled"],
td.readonly{
    background: #f5f3f3;
    background-clor: #f5f3f3;
}
span.redtext{
    color:#E44343;
}

a#sendOK,a#prev-step{
    display: none;
}
.fjs-container{
    display: none;
    width: 1280px;
    margin: 20px auto;
}
.fjs-container .fjs-jbxx{
    margin-bottom: 20px;
    font-size: 14px;
    color: #111;
    overflow: hidden;
}
.fjs-container .fr{
    display: inline-block;
    float: right;
}
.fjs-container .fl{
    display: inline-block;
    float: left;
}
.fjs-container .fjs-title{
    color: #111;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.fjs-container .mini-grid-border {
    border-color: #999;
    border-bottom: none;
    border-right: none;
}
.fjs-container .mini-grid-headerCell {
    border-right: #999 1px solid;
    border-bottom: #999 1px solid;
    color: #333;
}
.fjs-container .mini-grid-cell {
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    color: #333;
}