@charset "UTF-8";

.a-tips, .txt-blue {
    color: #0994dc;
}

.h5, .mini-grid-cell, body, html {
    font-size: 14px;
}

.button-blue:active, .button-blue:focus, .button:focus, .mini-button:focus, a.mini-button:focus, input[type=radio]:focus {
    outline: 0;
}

.button-blue, .form-table .mini-radiobuttonlist label, .mini-buttonedit-input, .mini-grid, .mini-grid-cell, .mini-grid-cellInner, .mini-popup, .mini-textbox-input, .mini-window, .mini-window.mini-messagebox, body, html {
    font-family: "MicroSoft YaHei";
}

Article, aside, dialog, figure, footer, header, menu, nav, section {
    display: block;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

a, button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.ml10 {
    margin-left: 10px;
}

.ml20 {
    margin-left: 20px;
}

.mr10 {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.a-tips {
    text-decoration: underline;
}

.txt-l {
    text-align: left;
}

.txt-r {
    text-align: right;
}

.txt-c {
    text-align: center;
}

.td-border-bottom, .td-border-top {
    border-bottom: 1px solid #ebebeb;
}

.letspc10 {
    letter-spacing: 10px;
}

.letspc8 {
    letter-spacing: 8px;
}

.letspc6 {
    letter-spacing: 6px;
}

.letspc4 {
    letter-spacing: 4px;
}

.letspc2 {
    letter-spacing: 2px;
}

.button {
    border: none;
}

.button-blue {
    color: #fff;
    background: #0994dc;
    border: none;
    border-radius: 3px;
    padding: 7px 35px;
}

input[type=radio] {
    -webkit-appearance: none;
    background: url(../../images/public1/ico-radio.png) top center no-repeat;
    background-size: 14px 14px;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    border: none !important;
    display: inline-block !important;
    margin-right: 10px;
}

    input[type=radio]:checked {
        background: url(../../images/public1/ico-radio-checked.png) top center no-repeat;
        background-size: 14px 14px;
    }

.context-box .rightMenu {
    width: 75%;
    display: inline-block;
}

    .context-box .rightMenu .risk-search-area {
        margin-top: 50px;
        text-align: left;
    }

.fxfk-win {
    background: #fff;
    padding: 25px 30px;
    margin-top: 0 !important;
}

    .fxfk-win table {
        table-layout: fixed;
    }

        .fxfk-win table td {
            word-wrap: break-word;
        }

.mini-grid-border {
    border: none;
    height: inherit;
}

.mini-grid-headerCell {
    background: #f7f7f7;
    border: 1px solid #dcdcdc;
    border-left: none;
    text-align: center !important;
    font-size: 14px;
    color: #333 !important;
    height: 28px !important;
}

    .mini-grid-headerCell:first-child {
        border-left: #dcdcdc 1px solid;
    }

.mini-grid-topRightCell {
    background: #f7f7f7;
    border-color: #dcdcdc;
    border-right: #dcdcdc 1px solid;
    border-bottom: #dcdcdc 1px solid;
    height: 38px !important;
    display: none;
}

.mini-grid-cell {
    height: 34px !important;
    color: #666;
    padding: 0 10px;
}

.mini-grid-cellInner {
    line-height: 18px;
}

.mini-grid-row td:first-child {
    border-left: #dcdcdc 1px solid;
}

.mini-grid-body::-webkit-scrollbar, .mini-listbox-view::-webkit-scrollbar {
    margin-left: -5px;
    width: 7px;
    height: 7px;
}

.mini-grid-body::-webkit-scrollbar-track, .mini-listbox-view::-webkit-scrollbar-track {
    background-color: #ddd;
    border-radius: 3px;
}

.mini-grid-body::-webkit-scrollbar-thumb, .mini-listbox-view::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 3px;
}

.mini-button {
    padding: 1px 0;
    border: 1px solid #0994dc;
    border-radius: 2px;
    background: #fff;
    font-size: 12px;
    font-family: "MicroSoft YaHei";
}

body a:hover.mini-button {
    padding: 1px 0;
    background: #f1faff;
    border: 1px solid #0994dc;
}

body a:hover.toolBtn-blue {
    background: #0994dc;
    color: #fff;
}

    body a:hover.toolBtn-blue:hover {
        background: #0994dc;
    }

.mini-button, a.mini-button {
    color: #0994dc;
}

a.toolBtn-blue {
    padding: 5px 25px !important;
    background: #0994dc !important;
    color: #fff;
}

a.toolBtn-white {
    padding: 5px 25px !important;
    background: #fff !important;
    color: #666 !important;
    border: 1px solid #ccc !important;
}

body a:hover.toolBtn-white {
    background: #fff;
}

.mini-button .mini-button-icon {
    background-position: 9px 50%;
}

body .mini-grid-row-hover, body .mini-grid-row-hover .mini-grid-frozenCell {
    background: 0 0;
}

    body .mini-grid-row-hover .mini-grid-cell-selected, body .mini-grid-row-hover .mini-grid-frozenCell .mini-grid-cell-selected {
        background: inherit;
    }

body .mini-datagrid .mini-grid-cell-selected {
    background: #fff;
}

body .mini-grid-row-selected, body .mini-grid-row-selected .mini-grid-frozenCell {
    background: #fff;
    color: #666;
}

body .mini-button-checked, body .mini-button-pressed, body a.mini-button-popup, body a:hover.mini-button-checked, body a:hover.mini-button-popup, body a:hover.mini-button-pressed {
    color: #0994dc;
}

body a.toolBtn-blue .mini-button-pressed, body a.toolBtn-blue:hover.mini-button-pressed {
    color: #fff;
}

a.toolBtn-save {
    display: none;
}

.mini-datagrid {
    display: block;
}

.mini-grid-editwrap .mini-combobox, .mini-grid-editwrap .mini-datepicker, .mini-grid-editwrap .mini-textbox, .mini-grid-editwrap .mini-treeselect {
    height: 28px;
    margin-top: -3px;
}

    .mini-grid-editwrap .mini-combobox .mini-buttonedit-border, .mini-grid-editwrap .mini-combobox .mini-textbox-border, .mini-grid-editwrap .mini-datepicker .mini-buttonedit-border, .mini-grid-editwrap .mini-datepicker .mini-textbox-border, .mini-grid-editwrap .mini-textbox .mini-buttonedit-border, .mini-grid-editwrap .mini-textbox .mini-textbox-border, .mini-grid-editwrap .mini-treeselect .mini-buttonedit-border, .mini-grid-editwrap .mini-treeselect .mini-textbox-border {
        height: 26px;
        margin: 0 5px;
        padding: 0 5px;
        font-size: 14px;
        border-color: #0994dc;
        border-radius: 2px;
    }

        .mini-grid-editwrap .mini-combobox .mini-buttonedit-border .mini-buttonedit-input, .mini-grid-editwrap .mini-combobox .mini-buttonedit-border .mini-textbox-input, .mini-grid-editwrap .mini-combobox .mini-textbox-border .mini-buttonedit-input, .mini-grid-editwrap .mini-combobox .mini-textbox-border .mini-textbox-input, .mini-grid-editwrap .mini-datepicker .mini-buttonedit-border .mini-buttonedit-input, .mini-grid-editwrap .mini-datepicker .mini-buttonedit-border .mini-textbox-input, .mini-grid-editwrap .mini-datepicker .mini-textbox-border .mini-buttonedit-input, .mini-grid-editwrap .mini-datepicker .mini-textbox-border .mini-textbox-input, .mini-grid-editwrap .mini-textbox .mini-buttonedit-border .mini-buttonedit-input, .mini-grid-editwrap .mini-textbox .mini-buttonedit-border .mini-textbox-input, .mini-grid-editwrap .mini-textbox .mini-textbox-border .mini-buttonedit-input, .mini-grid-editwrap .mini-textbox .mini-textbox-border .mini-textbox-input, .mini-grid-editwrap .mini-treeselect .mini-buttonedit-border .mini-buttonedit-input, .mini-grid-editwrap .mini-treeselect .mini-buttonedit-border .mini-textbox-input, .mini-grid-editwrap .mini-treeselect .mini-textbox-border .mini-buttonedit-input, .mini-grid-editwrap .mini-treeselect .mini-textbox-border .mini-textbox-input {
            height: 26px;
            font-size: 14px;
            line-height: 26px;
        }

.mini-grid-cell-validated {
    background: #f2f8ff !important;
}

.mini-grid-cell.mini-grid-cell-validated.mini-grid-cell-error, .mini-grid-cell.mini-grid-cell-validated.mini-grid-cell-selected.mini-grid-cell-error {
    background: #ffedf6 !important;
    color: red;
}

.mini-buttonedit-button {
    width: 16px;
    height: 16px;
    padding: 1px;
    margin-top: 6px;
}

.mini-buttonedit-button-hover, .mini-buttonedit-hover .mini-buttonedit-button {
    border: none;
    padding: 1px;
    background: 0 0;
}

.mini-required .mini-buttonedit-input, .mini-required .mini-textbox-input {
    background: #FFF;
}

.mini-datepicker .mini-buttonedit-buttons {
    right: 3px;
}

.mini-datepicker .mini-buttonedit-icon {
    background: url(../../images/public1/ico-calendar.png) top center no-repeat;
    width: 16px;
    height: 16px;
}

.mini-calendar-footer {
    background: #fff;
    border-top: solid 1px #fff;
}

    .mini-calendar-footer .mini-calendar-cancelButton, .mini-calendar-footer .mini-calendar-clearButton, .mini-calendar-footer .mini-calendar-okButton, .mini-calendar-footer .mini-calendar-tadayButton {
        border: 1px solid #fff;
        background: #fff;
    }

.mini-calendar-header {
    background: #fff;
}

.mini-calendar-item {
    width: 22px;
    height: 22px;
    display: inline-block;
    line-height: 22px;
    border-radius: 15px;
}

.mini-hidden, .mini-window .mini-panel-border .mini-panel-viewport .mini-panel-body .mini-messagebox-content .mini-messagebox-error, .mini-window .mini-panel-border .mini-panel-viewport .mini-panel-body .mini-messagebox-content .mini-messagebox-info, .mini-window .mini-panel-border .mini-panel-viewport .mini-panel-body .mini-messagebox-content .mini-messagebox-question, .mini-window .mini-panel-border .mini-panel-viewport .mini-panel-body .mini-messagebox-content .mini-messagebox-waiting, .mini-window .mini-panel-border .mini-panel-viewport .mini-panel-body .mini-messagebox-content .mini-messagebox-warning, .mini-window.mini-messagebox .mini-panel-border .mini-panel-viewport .mini-panel-body .mini-messagebox-content .mini-messagebox-error, .mini-window.mini-messagebox .mini-panel-border .mini-panel-viewport .mini-panel-body .mini-messagebox-content .mini-messagebox-info, .mini-window.mini-messagebox .mini-panel-border .mini-panel-viewport .mini-panel-body .mini-messagebox-content .mini-messagebox-question, .mini-window.mini-messagebox .mini-panel-border .mini-panel-viewport .mini-panel-body .mini-messagebox-content .mini-messagebox-waiting, .mini-window.mini-messagebox .mini-panel-border .mini-panel-viewport .mini-panel-body .mini-messagebox-content .mini-messagebox-warning {
    display: none;
}

.mini-calendar .mini-calendar-selected {
    color: #fff;
    background: 0 0;
    border: none;
    cursor: pointer;
    text-align: center;
}

    .mini-calendar .mini-calendar-selected .mini-calendar-item {
        background: #0994dc;
    }

.mini-calendar .mini-calendar-today {
    border: none;
    background: 0 0;
    color: #000;
    cursor: pointer;
    text-align: center;
}

    .mini-calendar .mini-calendar-today .mini-calendar-item {
        background: #d9d9d9;
    }

.mini-calendar-view {
    min-width: 250px;
}

body .mini-calendar td {
    line-height: 18px;
}

.mini-calendar-daysheader td {
    padding: 3px 3px 10px;
    border-bottom: solid 1px #fff;
}

.mini-window, .mini-window.mini-messagebox {
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 1px 8px 0 #000;
    min-width: 350px;
}

    .mini-window .mini-panel-border, .mini-window.mini-messagebox .mini-panel-border {
        border: none;
    }

        .mini-window .mini-panel-border .mini-panel-header, .mini-window.mini-messagebox .mini-panel-border .mini-panel-header {
            color: #1E1E1E;
            padding: 7px;
            background: #fff;
            border-color: #e6e6e6;
        }

            .mini-window .mini-panel-border .mini-panel-header .mini-tools, .mini-window.mini-messagebox .mini-panel-border .mini-panel-header .mini-tools {
                top: 10px;
                right: 5px;
            }

            .mini-window .mini-panel-border .mini-panel-header .mini-tools-close, .mini-window.mini-messagebox .mini-panel-border .mini-panel-header .mini-tools-close {
                background: url(../../images/public1/ico-alert-close.png) 4px 4px no-repeat;
                height: 20px;
                width: 20px;
            }

                .mini-window .mini-panel-border .mini-panel-header .mini-tools-close:hover, .mini-window.mini-messagebox .mini-panel-border .mini-panel-header .mini-tools-close:hover {
                    background: url(../../images/public/ico-alert-close-hover.png) top center no-repeat;
                }

        .mini-window .mini-panel-border .mini-panel-viewport .mini-panel-body, .mini-window.mini-messagebox .mini-panel-border .mini-panel-viewport .mini-panel-body {
            padding: 30px;
        }

            .mini-window .mini-panel-border .mini-panel-viewport .mini-panel-body::-webkit-scrollbar, .mini-window.mini-messagebox .mini-panel-border .mini-panel-viewport .mini-panel-body::-webkit-scrollbar {
                margin-left: -5px;
                width: 7px;
                height: 7px;
            }

            .mini-window .mini-panel-border .mini-panel-viewport .mini-panel-body::-webkit-scrollbar-track, .mini-window.mini-messagebox .mini-panel-border .mini-panel-viewport .mini-panel-body::-webkit-scrollbar-track {
                background-color: #ddd;
                border-radius: 3px;
            }

            .mini-window .mini-panel-border .mini-panel-viewport .mini-panel-body::-webkit-scrollbar-thumb, .mini-window.mini-messagebox .mini-panel-border .mini-panel-viewport .mini-panel-body::-webkit-scrollbar-thumb {
                background-color: #aaa;
                border-radius: 3px;
            }

            .mini-window .mini-panel-border .mini-panel-viewport .mini-panel-body .mini-messagebox-content, .mini-window.mini-messagebox .mini-panel-border .mini-panel-viewport .mini-panel-body .mini-messagebox-content {
                padding: 0;
            }

                .mini-window .mini-panel-border .mini-panel-viewport .mini-panel-body .mini-messagebox-content td, .mini-window.mini-messagebox .mini-panel-border .mini-panel-viewport .mini-panel-body .mini-messagebox-content td {
                    color: #333;
                    padding: 0;
                    font-size: 14px;
                    text-align: left;
                }

        .mini-window .mini-panel-border .mini-panel-viewport .mini-button, .mini-window.mini-messagebox .mini-panel-border .mini-panel-viewport .mini-button {
            height: 32px;
            color: #fff;
            border: none;
            padding: 0 10px;
            background: #0994dc;
            font-size: 14px;
        }

            .mini-window .mini-panel-border .mini-panel-viewport .mini-button .mini-button-text, .mini-window.mini-messagebox .mini-panel-border .mini-panel-viewport .mini-button .mini-button-text {
                padding: 0;
                line-height: 32px;
            }

        .mini-window .mini-panel-border .mini-panel-viewport .mini-messagebox-buttons, .mini-window.mini-messagebox .mini-panel-border .mini-panel-viewport .mini-messagebox-buttons {
            text-align: right;
            padding: 0 20px 20px 0;
        }

        .mini-window.mini-messagebox .mini-panel-border .mini-panel-viewport .mini-button {
            background: #0994dc !important;
        }

        .mini-window.mini-messagebox .mini-panel-border .mini-panel-viewport .mini-panel-footer {
            padding: 0;
        }

            .mini-window.mini-messagebox .mini-panel-border .mini-panel-viewport .mini-panel-footer a.mini-button {
                padding: 0 10px;
            }

        .mini-window .mini-panel-border .mini-panel-viewport .mini-panel-footer {
            background: #fff;
            border: none;
            padding: 20px;
            text-align: right;
        }

            .mini-window .mini-panel-border .mini-panel-viewport .mini-panel-footer .mini-button {
                background: #fff;
            }

            .mini-window .mini-panel-border .mini-panel-viewport .mini-panel-footer a.mini-button {
                padding: 0 25px;
            }

.mini-textbox {
    height: 32px;
}

.mini-textbox-border {
    height: 30px;
    border-radius: 2px;
    border: 1px solid #ccc;
    padding-left: 10px;
}

.mini-textbox-input {
    height: 28px;
    line-height: 28px;
    font-size: 14px;
}

body .mini-textbox-focus .mini-textbox-border {
    border-color: #0896db;
}

::-moz-placeholder {
    color: #ccc;
    font-family: "MicroSoft YaHei";
}

::-webkit-input-placeholder {
    color: #ccc;
    font-family: "MicroSoft YaHei";
}

:-ms-input-placeholder {
    color: #ccc;
    font-family: "MicroSoft YaHei";
}

.mini-buttonedit {
    height: 32px;
    border-radius: 2px;
}

.mini-buttonedit-border {
    height: 30px;
    border-color: #ccc;
}

.mini-buttonedit-input {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

.mini-buttonedit-popup .mini-buttonedit-button {
    border: none;
    background: #fff;
    padding: 1px;
}

.mini-buttonedit-focus .mini-buttonedit-border, .mini-buttonedit-popup .mini-buttonedit-border, .mini-popup {
    border-color: #ccc;
}

.mini-buttonedit-readOnly .mini-buttonedit-border, .mini-buttonedit-readOnly .mini-buttonedit-border .mini-textbox-input, .mini-buttonedit-readOnly .mini-textbox-border, .mini-buttonedit-readOnly .mini-textbox-border .mini-textbox-input, .mini-textbox-readOnly .mini-buttonedit-border, .mini-textbox-readOnly .mini-buttonedit-border .mini-textbox-input, .mini-textbox-readOnly .mini-textbox-border, .mini-textbox-readOnly .mini-textbox-border .mini-textbox-input {
    background: #f7f7f7;
}

.mini-tooltip {
    max-width: 700px;
}

.mini-tooltip-inner {
    font-size: 14px;
    text-align: left;
    padding: 15px;
    color: #666;
    border: none;
    box-shadow: 0 1px 5px 0 #888;
}

.form-table {
    font-size: 14px;
    margin-top: -8px;
}

    .form-table .mini-buttonedit, .form-table .mini-textbox {
        height: 28px;
    }

        .form-table .mini-buttonedit .mini-buttonedit-border, .form-table .mini-buttonedit .mini-textbox-border, .form-table .mini-textbox .mini-buttonedit-border, .form-table .mini-textbox .mini-textbox-border {
            height: 26px;
        }

            .form-table .mini-buttonedit .mini-buttonedit-border .mini-buttonedit-input, .form-table .mini-buttonedit .mini-buttonedit-border .mini-textbox-input, .form-table .mini-buttonedit .mini-textbox-border .mini-buttonedit-input, .form-table .mini-buttonedit .mini-textbox-border .mini-textbox-input, .form-table .mini-textbox .mini-buttonedit-border .mini-buttonedit-input, .form-table .mini-textbox .mini-buttonedit-border .mini-textbox-input, .form-table .mini-textbox .mini-textbox-border .mini-buttonedit-input, .form-table .mini-textbox .mini-textbox-border .mini-textbox-input {
                height: 26px;
                line-height: 26px;
                padding-left: 5px;
            }

            .form-table .mini-buttonedit .mini-buttonedit-border .mini-buttonedit-buttons .mini-buttonedit-button, .form-table .mini-buttonedit .mini-textbox-border .mini-buttonedit-buttons .mini-buttonedit-button, .form-table .mini-textbox .mini-buttonedit-border .mini-buttonedit-buttons .mini-buttonedit-button, .form-table .mini-textbox .mini-textbox-border .mini-buttonedit-buttons .mini-buttonedit-button {
                margin-top: 4px;
            }

    .form-table .mini-radiobuttonlist {
        display: inline-block;
    }

        .form-table .mini-radiobuttonlist .mini-list-inner {
            margin-bottom: -4px;
        }

            .form-table .mini-radiobuttonlist .mini-list-inner div {
                margin-right: 25px;
            }

            .form-table .mini-radiobuttonlist .mini-list-inner input {
                margin-right: 5px;
            }

        .form-table .mini-radiobuttonlist label {
            margin-top: -4px;
            font-size: 14px;
        }

    .form-table .footer {
        margin-top: 20px;
        text-align: right;
    }
