.wxts, .wxtscg {
    background: #eee;
    padding: 10px 20px;
    line-height: 15px;
}

body, html {
    height: 100%;
}

.wxts {
    margin-bottom: 10px;
}

.fpyjTable {
    width: 370px;
    margin: 0 auto;
}

    .fpyjTable td {
        height: 40px;
        vertical-align: top;
    }

        .fpyjTable td span {
            color: red;
        }

.wxtscg {
    margin-bottom: 10px;
}

.tjts {
    font-size: 18px;
    padding-left: 5px;
    vertical-align: top;
}

.slxx {
    font-weight: 700;
}

.mini-buttonedit-input {
    padding-left: 10px;
}
