body, html {
    height: 100%;
}

.search-item {
    color: #5b5b5b;
    text-align: right;
    white-space: nowrap;
    padding: 6px 2px 6px 10px;
}

.search-item-control {
    text-align: left;
    white-space: nowrap;
    padding: 6px 2px 6px 5px;
}

#wizard #nsrxx {
    //height:750px;
}

.wizard > .content > .body {
    position: relative !important;
}

.wizard .content {
    height: 100% !important;
}
