@charset "UTF-8";

/**
 * @Author: zhouqy
 * @Date: 2017-02-16
 * @description:手风琴组件 css
 */

.accordion {
    margin-top: 20px;
    overflow: hidden;
}

.accordion>li {
    border: 1px solid #ececec;
    margin-bottom: 10px;
}

.accordion .link {
    background-color: #fbfcfd;
    height: 40px;
    line-height: 40px;
}

.accordion .link span {
    font-size: 14px;
    display: inline-block;
    width: 33%;
}

.accordion .link a {
    float: right;
    position: relative;
    right: 20px;
    top: 0;
    vertical-align: top;
    color: #0994dc;
    font-size: 14px;
    cursor: pointer;
}

.accordion .link .disable {
    color: #ccc !important;
}

.accordion .link .first {
    color: #000;
    text-indent: 30px;
}

.accordion .link .second {
    color: #999;
    width: 50%;
}

.a-show {
    display: inline-block;
}

.a-hidden {
    display: none;
}

.accordion .open .a-show {
    display: none;
}

.accordion .open .a-hidden {
    display: inline-block;
}
